@import './abstracts/variables';

.max-width-medium {
  max-width: $max-width-medium;
}

.p-80 {
  padding: 6rem 8rem;
}

.rounded-x {
  border-radius: 1rem;
}

.shadow-x {
  box-shadow: 0px 0px 5px 2px #0000001a;
}
