<%= form_tag(path, method: "get", class: "form") do %>
 <div class="d-flex gap-16">
  <%= text_field_tag 'search', nil, class: 'form-control py-2 px-3 search-form__input border-0 shadow-x rounded-x', placeholder: 'Search' %>
  <%= button_tag type: 'submit', class: 'btn btn-light bg-white rounded-x border-0 shadow-x d-flex justify-content-center align-items-center search-form__button' do %>
    <%= fa_icon "search" %>
  <% end %>
 </div>
<% end %>
