<form class="d-flex search-form gap-20">
  <input type="text" class="form-control py-2 px-3 search-form__input border-0 shadow-x rounded-x" id="sarch-keywords" aria-describedby="searchKeywords" placeholder="Search">
  <button type="submit" class="btn btn-light bg-white rounded-x border-0 shadow-x d-flex justify-content-center align-items-center search-form__button">
    <%= fa_icon 'search' %>
  </button>
</form>
