<div class="table-responsive mb-5 pb-10">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="fw-bold">
          Tag <%= fa_icon "chevron-down", class: 'class' %>
        </th>
        <th scope="col" class="text-center">Total Images</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% tags.each do |tag| %>
          <tr>
            <td>
              <div class="fw-bold font-20"><%= tag.name %></div>
            </td>
            <td class="text-center">
              <%= tag_images_num(tag) %>
            </td>
            <td class="d-flex justify-content-end">
              <%= render partial: "shared/actions", locals: { model: tag, edit_path: edit_tag_path(tag) } %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
