@import './abstracts/variables';

.search-form {
  gap: 2rem;
  height: 4rem;
  &__input {
    font-size: 1.6rem;
    &::placeholder {
      color: $lightgrey;
    }
  }

  &__button {
    width: 4rem;
    height: 4rem;
  }
}
