<div class="table-responsive mb-5 pb-10">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="fw-bold">
          <%# link_to('name', 'javascript:void(0);', onclick: "console.log('test')") %>
          <% if current == 'images' %>
            <%= render 'images/sort', order: @order %>
          <% elsif current == 'tag_images' %>
            <%= render partial: 'tags/sort', locals: { order: @order, tag: tag } %>
          <% end %>
        </th>
        <th scope="col">Tags</th>
        <th scope="col" class="text-center">Total Tags</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "images/image", collection: images %>
    </tbody>
  </table>
</div>
