<div class="modal-dialog" role="document" id="modal">
  <div class="modal-content">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <h1 class="text-center">Upload Image</h1>
    <%= render partial: "form", locals: { btn_msg: 'Upload', image: @image } %>
  </div>
</div>
