<div class="modal-dialog" role="document" id="modal">
  <div class="modal-content">
    <h1 class="text-center">Upload Image</h1>
    <%= render partial: "form", locals: { btn_msg: 'Upload', image: @image } %>
  </div>
</div>
