<div class="container-lg bg-white rounded-x shadow-x p-80 max-width-medium">
  <h1 class="text-center">Upload Image</h1>
  <%= render partial: "form", locals: { btn_msg: 'Upload', image: @image } %>
</div>

